@import '../../styles/variables.scss';

.boxTitleProducts {
  width: 100%;

  .title {
    display: flex;
    width: 100%;
    font-size: 2.4rem;
    line-height: 1.5;
    border-bottom: 2px solid #bbbbbb;
    color: $secondary-color;
  }

  .productGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: $medium 0;

    div:hover {
      outline: 2px solid rgba(78, 154, 144, 1);
    }

    @media (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    .product {
      font-size: 1.8rem;
      padding: 1rem;
      outline: 2px solid rgba(78, 154, 144, 0.5);
      transition: all 0.15s ease-in;
      text-align: center;
      cursor: pointer;

      img {
        width: 100%;
      }

      .titleProduct {
        color: $secondary-color;
      }
    }
  }
}
