.boxTitleMain {
    padding-top: 2rem;

    .title {
        font-size: 4rem;
        text-transform: uppercase;
        color: #130433;

          @media (max-width: 600px) {
            font-size: 2rem;
          }

        span {
            color: #4E9A90;
        }
    }
}
