@import '../../styles/variables.scss';

.boxTitleMain {
    padding-top: $small;

    .title {
        font-size: 4rem;
        text-transform: uppercase;
        color: $secondary-color;

          @media (max-width: 600px) {
            font-size: 2rem;
          }

        span {
            color: $primary-color;
        }
    }
}
