.filterProducts {
  width: 100%;
  margin-top: 6rem;

  .boxAll {
    display: flex;
    gap: 4rem;

    .boxTitleInput {
      width: 40%;

      .boxTitleFilter {
        width: 100%;
        display: flex;

        .title {
          width: 100%;
          font-size: 2.4rem;
          line-height: 1.5;
          border-bottom: 2px solid #130433;
          color: #130433;
        }
      }

      .filterOptions {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 4rem;

        label {
          font-size: 2rem;
          padding-left: 1rem;
          color: #130433;
          cursor: pointer;
        }
      }

      .checkboxFilter {
        cursor: pointer;
        appearance: none;
        width: 30px;
        height: 30px;
        border: 3px solid #4e9a90;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        outline: none;

        &:before {
          content: "";
          width: 15px;
          height: 15px;
          background: #4e9a90;
          border-radius: 50%;
          opacity: 0;
          position: absolute;
        }

        &.checkboxFilter:before {
          border-radius: 0;
          background: transparent;
          border: 4px solid #4e9a90;
          border-left: 0;
          border-top: 0;
          width: 7px;
          height: 12px;
          transform: rotate(45deg);
          top: 2px;
        }

        &:checked:before {
          opacity: 1;
        }
      }
    }
  }
}
