@import '../../styles/variables.scss';

.filterProducts {
  width: 100%;
  margin-top: $large;

  .boxAll {
    display: flex;
    gap: 4rem;

    @media (max-width: 700px) {
      display: unset;
    }

    .boxTitleInput {
      width: 40%;

      @media (max-width: 700px) {
        width: 100%;
      }

      .boxTitleFilter {
        width: 100%;
        display: flex;

        .title {
          width: 100%;
          font-size: 2.4rem;
          line-height: 1.5;
          border-bottom: 2px solid #bbbbbb;
          color: $second-color;
        }
      }

      .filterOptions {
        width: 100%;
        margin-top: $medium;

        label {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 1.8rem;
          padding-left: 1rem;
          color: $second-color;
          cursor: pointer;
        }

        .boxCheckBox {
          display: flex;
          margin-bottom: $small;

          .checkBoxFilter {
            cursor: pointer;
            appearance: none;
            width: 26px;
            height: 26px;
            border: 3px solid $primary-color;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            outline: none;

            &:before {
              content: "";
              width: 15px;
              height: 15px;
              background: $primary-color;
              border-radius: 50%;
              opacity: 0;
              position: absolute;
            }

            &.checkBoxFilter:before {
              border-radius: 0;
              background: transparent;
              border: 4px solid $primary-color;
              border-left: 0;
              border-top: 0;
              width: 5px;
              height: 10px;
              transform: rotate(45deg);
              top: 2px;
            }

            &:checked:before {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
